DATABASE_URL=https://riornfhljvozvvazptbl.supabase.co
SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpb3JuZmhsanZvenZ2YXpwdGJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwNDY3OTEsImV4cCI6MjA3ODYyMjc5MX0.-tCRauX6Y7lQXTt7xEsIDqzHuFxNWlqH-jwVKwH8OEM