name: Build and Lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          cd app
          pip install -r requirements.txt
      - name: Lint code
        run: |
          pip install flake8
          flake8 app
      - name: Build Docker image
        run: docker build -t myfirstfastapi .
